/* Typography */
/* Font weigth */
/* Colors */
.team-container {
  margin-bottom: 30px;
}
.team-container .container {
  background-color: #FFFFFF;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
}
.team-container .container .team-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 5px;
  font-family: 'Roboto', serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  line-height: 1.3;
  letter-spacing: normal;
  color: #46555e;
}
.team-container .container .team-title img {
  width: 10%;
}
.team-container .container .team-content {
  font-family: 'Roboto', serif;
}
.team-container .container .team-content .MuiFormControl-root .MuiInput-root {
  background-color: #a0a0a0;
  font-family: 'Roboto', serif;
  border-radius: 17px;
  border-bottom: 0 solid transparent;
  padding: 5px;
}
.team-container .container .team-content .MuiFormControl-root .MuiInput-root:before {
  border: none;
}
.team-container .container .team-content .player-rows {
  width: 100%;
}
